/* 
-----------------------------------
    : Custom - Pagination css :
-----------------------------------
*/
.page-item {
	.page-link {
		font-size: 1.3em;
	  	color: #6b6864;
	  	background-color: transparent;
    	border: 1px solid $border-color;
		border-radius: 5px;
		padding: 4px 8px;
		margin: 5px;
	  	&:focus {
		  background-color: $light;
		  border-color: $border-color;
		  box-shadow: 0 0 0 0.2rem lighten($primary, 30%);
		}
		&:hover {
		  color: $white;
		  background-color: $marron;
		  border-color: $border-color;
		}
		&:first-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;	
		}
		&:last-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&.active {
		.page-link {
			font-weight: 700;
			color: $yellow;
		  	background-color: $primary;
		  	border-color: $primary;
		}
	}
	&.disabled {
		.page-link {
			color: $muted;
		    pointer-events: none;
		    cursor: auto;
		    background-color: transparent;
		    border-color: $border-color;
		}
	}
}