{% extends "accounts/profile_base.html" %}
{% load i18n static %}

{% block active_section_change_pwd %}active{% endblock active_section_change_pwd %}

{% block breadcrumbbar_title %}{% translate "Change Password" %}{% endblock breadcrumbbar_title %}

{% block breadcrumbbar_list %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{% translate "Change Password" %}</li>
{% endblock breadcrumbbar_list %}

{% block tab_content %}

<!-- My Profile Start -->
<div class="tab-pane active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"> 
    <div class="card m-b-30">
        <div class="card-header">                                
            <h5 class="card-title mb-0">{% translate "Change Password" %}</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{% url "accounts:password_change" %}">
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
                <div class="form-group row col-md-6">
                    <label for="{{ form.old_password.id_for_label }}">{% translate "Old Password" %}</label>
                    <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}">
                    <div class="invalid-feedback">{% for error in form.old_password.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="{{ form.new_password1.id_for_label }}">{% translate "New Password" %}</label>
                    <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}">
                    <div class="invalid-feedback">{% for error in form.new_password1.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="{{ form.new_password2.id_for_label }}">{% translate "New Password Confirmation" %}</label>
                    <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}">
                    <div class="invalid-feedback">{% for error in form.new_password2.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                </div>
                <button type="submit" class="btn btn-primary-rgba font-16"><i class="ri-save-line mr-2"></i>{% translate "Change My Password" %}</button>
            </form>
        </div>
    </div>
</div>
<!-- My Profile End -->

{% endblock tab_content %}
