{% extends "civilizations/people_base.html" %}
{% load i18n static %}

{% block more_css %}
<link href="{% static "th_olian/plugins/footable/css/footable.bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "th_olian/plugins/switchery/switchery.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "th_olian/plugins/select2/select2.min.css" %}" rel="stylesheet" type="text/css">
{% endblock more_css %}

{% block breadcrumbbar_title %}{% translate "Search People" %}{% endblock breadcrumbbar_title %}

{% block breadcrumbbar_list %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{% translate "Search" %}</li>
{% endblock breadcrumbbar_list %}

{% block contentbar_content %}
<!-- Start row -->
<div class="row">
    <!-- Start col -->
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h5 class="card-title font-16">{% translate "Enter the information of the person and click on search!" %}</h5>
                <h6 class="card-subtitle">You don't have to enter the person's information accurately; you can enter just a part of their <b>name</b>, an approximate <b>birth year</b>, or only the <b>state</b> where they lived.</h6>
                <form method="get" action="{% url "civilizations:people_search" %}">
                    {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="{{ form.full_name_or_alias.id_for_label }}" class="sr-only">{% translate "Name Or Alias" %}</label>
                            <input type="text" class="form-control {{ form.full_name_or_alias.errors|yesno:"is-invalid," }}" placeholder="{% translate "Name Or Alias" %}" value="{{ request.GET.full_name_or_alias }}" id="{{ form.full_name_or_alias.id_for_label }}" name="{{ form.full_name_or_alias.html_name }}">
                            <div class="invalid-feedback">{% for error in form.full_name_or_alias.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="{{ form.year_of_birth.id_for_label }}" class="sr-only">{% translate "Birth Year" %}</label>
                            <input type="number" class="form-control {{ form.year_of_birth.errors|yesno:"is-invalid," }}" placeholder="{% translate "Birth Year" %}" value="{{ request.GET.year_of_birth }}" id="{{ form.year_of_birth.id_for_label }}" name="{{ form.year_of_birth.html_name }}">
                            <div class="invalid-feedback">{% for error in form.year_of_birth.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="{{ form.year_of_death.id_for_label }}" class="sr-only">{% translate "Death Year" %}</label>
                            <input type="number" class="form-control {{ form.year_of_death.errors|yesno:"is-invalid," }}" placeholder="{% translate "Death Year" %}" value="{{ request.GET.year_of_death }}" id="{{ form.year_of_death.id_for_label }}" name="{{ form.year_of_death.html_name }}">
                            <div class="invalid-feedback">{% for error in form.year_of_death.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="mx-md-5"></div> 
                        <div class="mx-md-3"></div> 
                        <div class="form-group col-md-1">
                            <label for="{{ form.agee_code.id_for_label }}" class="sr-only">{% translate "State" %}</label>
                            <select class="select2-single form-control {{ form.agee_code.errors|yesno:"is-invalid," }}" id="{{ form.agee_code.id_for_label }}" name="{{ form.agee_code.html_name }}" hx-get="{% url "civilizations:options_for_agem_code" %}" hx-target="#{{ form.agem_code.id_for_label }}">
                                {% for s in options_for_agee_code %}
                                {% if forloop.first %}<option value="">{% translate "All States" %}</option>{% endif %}
                                <option value="{{ s.agee_code }}" {{ s.is_selected|yesno:"selected," }}>{{ s.agee_name }}</option>
                                {% empty %}
                                <option value="" selected>{% translate "All States" %}</option>
                                {% for widget in form.agee_code.subwidgets %}{{ widget }}{% endfor %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">{% for error in form.agee_code.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="{{ form.agem_code.id_for_label }}" class="sr-only">{% translate "Municipality" %}</label>
                            <select class="select2-single form-control {{ form.agem_code.errors|yesno:"is-invalid," }}" id="{{ form.agem_code.id_for_label }}" name="{{ form.agem_code.html_name }}" hx-get="{% url "civilizations:options_for_loc_code" %}" hx-target="#{{ form.loc_code.id_for_label }}" hx-include="[name='{{ form.agee_code.html_name }}'], [name='{{ form.agem_code.html_name }}']">
                                {% for m in options_for_agem_code %}
                                {% if forloop.first %}<option value="">{% translate "All Municipalities" %}</option>{% endif %}
                                <option value="{{ m.agem_code }}" {{ m.is_selected|yesno:"selected," }}>{{ m.agem_name }}</option>
                                {% empty %}
                                <option value="" selected>{% translate "All Municipalities" %}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">{% for error in form.agem_code.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="{{ form.loc_code.id_for_label }}" class="sr-only">{% translate "Locality" %}</label>
                            <select class="select2-single form-control {{ form.loc_code.errors|yesno:"is-invalid," }}" id="{{ form.loc_code.id_for_label }}" name="{{ form.loc_code.html_name }}">
                                {% for l in options_for_loc_code %}
                                {% if forloop.first %}<option value="">{% translate "All Localities" %}</option>{% endif %}
                                <option value="{{ l.loc_code }}" {{ l.is_selected|yesno:"selected," }}>{{ l.loc_name }}</option>
                                {% empty %}
                                <option value="" selected>{% translate "All Localities" %}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">{% for error in form.loc_code.errors %}<li>{{ error|escape }}</li>{% endfor %}</div>
                        </div>
                        <div class="form-group col-md-2 text-right">
                            <button type="submit" class="btn btn-primary">{% translate "Search" %}</button>
                        </div>
                    </div>
                </form>
                <div class="mt-3"></div>
                {% comment %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
                {% endcomment %}
                <div class="table-responsive m-b-30">
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{% translate "Full Name" %}</th>
                                <th scope="col">{% translate "Alias" %}</th>
                                <th scope="col">{% translate "Date Of Birth" %}</th>
                                <th scope="col">{% translate "Date Of Death" %}</th>
                                <th scope="col">{% translate "Father" %}</th>
                                <th scope="col">{% translate "Mother" %}</th>
                                <th scope="col">{% translate "Locality" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for person in object_list %}
                            <tr>
                                <th scope="row">{{ person.full_name }}</th>
                                <td>{{ person.alias }}</td>
                                <td>{{ person.date_of_birth }}</td>
                                <td>{{ person.date_of_death }}</td>
                                <td>{{ person.father.full_name }}</td>
                                <td>{{ person.mother.full_name }}</td>
                                <td>{{ person.locality }}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="7">{% translate "People not found!" %}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div> 
    </div>
    <!-- End col -->
    <!-- Start col -->
    {% comment %}
      
    <div class="col-lg-12">
        <div class="card m-b-30"> 
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table foo-pagination-table" data-paging="true">
                        <thead>
                            <tr>
                                <th>{% translate "Full Name" %}</th>
                                <th>{% translate "Alias" %}</th>
                                <th>{% translate "Date Of Birth" %}</th>
                                <th>{% translate "Date Of Death" %}</th>
                                <th>{% translate "Father" %}</th>
                                <th>{% translate "Mother" %}</th>
                                <th>{% translate "Locality" %}</th>
                            </tr> 
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <!-- End col -->
</div>
<!-- End row -->
{% endblock contentbar_content %}

{% block more_js %}
<script src="{% static "th_olian/js/horizontal-menu.js" %}"></script>
<script src="{% static "th_olian/plugins/switchery/switchery.min.js" %}"></script>
<script src="{% static "th_olian/plugins/select2/select2.min.js" %}"></script>
<script src="{% static "th_olian/js/custom/custom-form-select.js" %}"></script>
<script src="{% static "th_olian/plugins/moment/moment.js" %}"></script>     
<script src="{% static "th_olian/plugins/footable/js/footable.min.js" %}"></script>     
<script src="{% static "th_olian/js/custom/custom-table-footable.js" %}"></script>    
<script src="{% static "th_olian/js/core.js" %}"></script>
<script>
    $('#{{ form.agee_code.id_for_label }}').change(function() {
        console.log('hoal')
        var selectLocality = $('#{{ form.loc_code.id_for_label }}')
        selectLocality.empty()
        selectLocality.append(`<option value="" selected>{% translate "All Localities" %}</option>`)
    })
</script>
{% endblock more_js %}
