{% extends "th_olian/base.html" %}
{% load i18n static %}

{% block more_css %}
    <link href="{% static "th_olian/plugins/switchery/switchery.min.css" %}" rel="stylesheet">
    <link href="{% static "th_olian/css/flag-icon.min.css" %}" rel="stylesheet" type="text/css">
{% endblock more_css %}

{% block content %}
    <!-- Start Infobar Setting Sidebar -->
    <div id="infobar-settings-sidebar" class="infobar-settings-sidebar">
        <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
            <h4>{% translate "Settings" %}</h4><a href="javascript:void(0)" id="infobar-settings-close" class="infobar-settings-close"><span class="iconbar"><i class="ri-close-line menu-hamburger-close"></i></span></a>
        </div>
        <div class="infobar-settings-sidebar-body">
            <div class="custom-mode-setting">
                <div class="row align-items-center pb-3">
                    <div class="col-8"><h6 class="mb-0">{% translate "Setting 1" %}</h6></div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-first" checked /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="infobar-settings-sidebar-overlay"></div>
    <!-- End Infobar Setting Sidebar -->
    <!-- Start Containerbar -->
    <div id="containerbar" class="container-fluid">
        <!-- Start Leftbar -->        
        <!-- End Leftbar -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="index.html" class="mobile-logo"><img src="{% static "th_olian/images/logo.svg" %}" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <span class="iconbar">
                                                <i class="ri-more-fill menu-hamburger-horizontal"></i>
                                                <i class="ri-more-2-fill menu-hamburger-vertical"></i>
                                            </span>
                                         </a>
                                     </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger navbar-toggle bg-transparent" href="javascript:void();" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
                                            <span class="iconbar">
                                                <i class="ri-menu-2-line menu-hamburger-collapse"></i>
                                                <i class="ri-close-line menu-hamburger-close"></i>
                                            </span>
                                        </a>
                                     </div>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <div class="container-fluid">
                    <!-- Start row -->
                    <div class="row align-items-center">
                        <!-- Start col -->
                        <div class="col-md-12 align-self-center">
                            <div class="togglebar">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="logobar">
                                            <a href="index.html" class="logo logo-large"><img src="{% static "th_olian/images/logo.svg" %}" class="img-fluid" alt="logo"></a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="searchbar">
                                            <form>
                                                <div class="input-group">
                                                  <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                                  <div class="input-group-append">
                                                    <button class="btn" type="submit" id="button-addon2"><i class="ri-search-2-line"></i></button>
                                                  </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="infobar">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="languagebar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="languagelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="iconbar iconbar-md"><i class="flag flag-icon-us flag-icon-squared"></i></span></a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languagelink">
                                                    <a class="dropdown-item" href="#"><i class="flag flag-icon-us flag-icon-squared"></i>English</a>
                                                    <a class="dropdown-item" href="#"><i class="flag flag-icon-de flag-icon-squared"></i>German</a>
                                                    <a class="dropdown-item" href="#"><i class="flag flag-icon-bl flag-icon-squared"></i>France</a>
                                                    <a class="dropdown-item" href="#"><i class="flag flag-icon-ru flag-icon-squared"></i>Russian</a>
                                                </div>
                                            </div>
                                        </div>                                   
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="settingbar">
                                            <a href="javascript:void(0)" id="infobar-settings-open" class="infobar-icon">
                                                <span class="iconbar"><i class="ri-settings-3-line"></i></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="notifybar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle infobar-icon" href="#" role="button" id="notoficationlink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="iconbar"><i class="ri-notification-3-line"></i><span class="live-icon"></span></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notoficationlink">
                                                    <div class="notification-dropdown-title">
                                                        <h5>Notifications<a href="#">Clear all</a></h5>                            
                                                    </div>
                                                    <ul class="list-unstyled">                                                    
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-primary"><i class="ri-archive-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Product Added</h5>
                                                                <p><span class="timing">Today, 08:40 AM</span></p>                            
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-success"><i class="ri-price-tag-3-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Sale Started</h5>
                                                                <p><span class="timing">Today, 03:45 PM</span></p>                            
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-warning"><i class="ri-file-text-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Kelly Reported</h5>
                                                                <p><span class="timing">5 June 2020, 02:20 PM</span></p>                            
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-danger"><i class="ri-file-user-line"></i></span>
                                                            <div class="media-body">    
                                                                <h5 class="action-title">John Resigned</h5>
                                                                <p><span class="timing">2 June 2020, 11:11 AM</span></p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="notification-dropdown-footer">
                                                        <h5><a href="#">See all</a></h5>                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="profilebar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="profilelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "th_olian/images/users/profile.svg" %}" class="img-fluid" alt="profile"><span class="live-icon">John D</span></a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                                                    <a class="dropdown-item" href="#"><i class="ri-user-6-line"></i>My Profile</a>
                                                    <a class="dropdown-item" href="#"><i class="ri-mail-line"></i>Email</a>
                                                    <a class="dropdown-item" href="#"><i class="ri-settings-3-line"></i>Settings</a>
                                                    <a class="dropdown-item text-danger" href="#"><i class="ri-shut-down-line"></i>Logout</a>
                                                </div>
                                            </div>
                                        </div>                                   
                                    </li>
                                    <li class="list-inline-item menubar-toggle">
                                        <div class="menubar">
                                            <a class="menu-hamburger navbar-toggle bg-transparent" href="javascript:void();" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
                                                <span class="iconbar">
                                                    <i class="ri-menu-2-line menu-hamburger-collapse"></i>
                                                    <i class="ri-close-line menu-hamburger-close"></i>
                                                </span>
                                            </a>
                                         </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End col -->
                    </div> 
                    <!-- End row -->
                </div>
            </div>
            <!-- End Topbar -->
            <!-- Start Navigationbar -->
            <div class="navigationbar">
                <!-- Start container-fluid -->
                <div class="container-fluid">
                    <!-- Start Horizontal Nav -->
                    <nav class="horizontal-nav mobile-navbar fixed-navbar">
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="horizontal-menu"> 
                                <li class="scroll"><a href="widgets.html"><i class="ri-search-line"></i><span>{% translate "Find People" %}</span></a></li>
                                <li class="scroll"><a href="widgets.html"><i class="ri-search-line"></i><span>{% translate "Find Localities" %}</span></a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Horizontal Nav -->
                </div>
                <!-- End container-fluid -->
            </div>
            <!-- End Navigationbar -->
            {% block breadcrumbbar %}
            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">{% block breadcrumbbar_title %}{% translate "Page Title" %}{% endblock breadcrumbbar_title %}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                {% block breadcrumbbar_list %}
                                <li class="breadcrumb-item"><a href="index.html">{% translate "Section " %}</a></li>
                                <li class="breadcrumb-item"><a href="index.html">{% translate "Subsection " %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% translate "Title" %}</li>
                                {% endblock breadcrumbbar_list %}
                            </ol>
                        </div>
                    </div>
                    {% block refresh_button %}
                    <div class="col-md-4 col-lg-4">
                        <div class="widgetbar">
                            <button class="btn btn-primary"><i class="ri-refresh-line mr-2"></i>{% translate "Refresh" %}</button>
                        </div>
                    </div>
                    {% endblock refresh_button %}
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            {% endblock breadcrumbbar %}
            {% block contentbar %}
            <!-- Start Contentbar -->
            <div class="contentbar">{% block contentbar_content %}{% endblock contentbar_content %}</div>
            <!-- End Contentbar -->
            {% endblock contentbar %}
            {% block footerbar %}
            <!-- Start Footerbar -->
            <div class="footerbar">
                <footer class="footer">
                    <p class="mb-0">{% translate "© 2024 Abuelitos - All Rights Reserved." %}</p>
                </footer>
            </div>
            <!-- End Footerbar -->
            {% endblock footerbar %}
        </div>
        <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
{% endblock content %}

{% block more_js %}
    <script src="{% static "th_olian/js/horizontal-menu.js" %}"></script>
    <script src="{% static "th_olian/plugins/switchery/switchery.min.js" %}"></script>
    <script src="{% static "th_olian/js/core.js" %}"></script>
{% endblock more_js %}
